<div class="square">
    <form action="{$gvar.l_global}modificarprofesor.php?option=buscar" method="post">
        <table width="100%" border="0" cellpadding="0" cellspacing="5">
            <tr>
                <td>
                    <b>Ingrese la cedula del Profesor:</b> <input type="number" name="cedula" /><br />
                    <input class="btn btn-primary" type="submit" value="Buscar" />
                </td>
            </tr>
        </table>
    </form>
</div>
