<div class="square">
    <form action="{$gvar.l_global}modificarprofesor.php?option=actualizar" method="post">
        <table width="100%" border="0" cellpadding="0" cellspacing="5">
            <tr>
                <td>
                    {$aux = $profesor->get('cedula')}
                    <b>Modificar un profesor</b><br /><br />
                    <b>Ingrese la Cedula:</b> <input type="number" name="cedula" value = {$profesor->get('cedula')} /><br />
                    <b>Ingrese el Nombre:</b> <input type="text" name="nombre" value = {$profesor->get('nombre')} /><br />
                    <b>Ingrese la Fecha de Nacimiento:</b> <input type="date" name="fechanac" value = {$profesor->get('fechanac')} /><br />
                    <b>Ingrese el Lugar de Nacimiento:</b> <input type="text" name="lugarnac" value = {$profesor->get('lugarnac')} /><br />
                    <b>Ingrese el Titulo:</b> <input type="text" name="titulo" value = {$profesor->get('titulo')} /><br />
                    <b>Ingrese el Departamento:</b> <input type="text" name="depto" value = {$profesor->get('depto')} /><br />
                    
                    <input type="hidden" name="auxiliar" value = {$aux} /><br />
                    <input class="btn btn-primary" type="submit" value="Actualizar" />
                </td>
            </tr>
        </table>
    </form>
</div>
